---
import FoldHeader from '../FoldHeader.astro'
import CardGrid from '../CardGrid.astro'
import Card from '../Card.astro'
import SharedStyles from './SharedStyles.astro'
import IconApi from '~icons/material-symbols/api'
import IconSdk from '~icons/material-symbols/sdk'
import IconTablerWebhook from '~icons/tabler/webhook'
import IconPostman from '~icons/lineicons/postman'
import IconOui from '~icons/oui/integration-general'
import IconTablerServerSpark from '~icons/tabler/server-spark'
---

<SharedStyles />

<section class="fold-section fold--background-alternate full-stack-auth-section fold-full-width">
  <div class="home-container">
    <div class="fold-container">
      <div>
        <FoldHeader
          title="Developer Resources"
          description="Build faster with SDKs, reference docs, and ready‑to‑use tools."
          descriptionSize="1rem"
          titleSize="2.25rem"
          titleWeight="500"
          titleColor="var(--sl-color-text-heading)"
          className="fold-3-header"
        />
        <CardGrid>
          <Card title="SDKs" icon={IconSdk} href="/sdks" cta="Get started →">
            <p class="card-desc">
              Accelerate development with our server SDKs. Integrate Scalekit faster into your
              applications.
            </p>
          </Card>
          <Card title="API reference" icon={IconApi} href="/reference/" cta="Browse APIs →">
            <p class="card-desc">
              Comprehensive, copy‑paste‑ready documentation. Explore all endpoints and features.
            </p>
          </Card>
          <Card
            title="Webhooks"
            icon={IconTablerWebhook}
            href="/reference/webhooks/"
            cta="View docs →"
          >
            <p class="card-desc">
              Receive real‑time updates in your application. Trigger actions when authentication
              events occur.
            </p>
          </Card>
          <Card title="Postman collection" icon={IconPostman} href="/apis" cta="Try APIs →">
            <p class="card-desc">
              Test and explore every Scalekit API across all scenarios. Use ready‑to‑send Postman
              requests
            </p>
          </Card>
          <Card
            title="Integrations"
            icon={IconOui}
            href="/guides/integrations"
            cta="Browse integrations →"
          >
            <p class="card-desc">
              Connect with SSO providers, social platforms, SCIM systems, and auth frameworks.
            </p>
          </Card>
          <Card
            title="Scalekit MCP server"
            icon={IconTablerServerSpark}
            href="/dev-kit/mcp/"
            cta="Connect your MCP host →"
          >
            <p class="card-desc">
              Secure MCP server that lets AI assistants like claude and cursor to manage Scalekit
              orgs, users, roles, and connections
            </p>
          </Card>
        </CardGrid>
      </div>
    </div>
  </div>
</section>
